/**
 * /* :root {
 *   --redux-color: #764abc;
 * }
 *
 * @format
 */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arial, Helvetica, sans-serif;
}

/* Main content */

section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

p {
  font-size: 1.1rem;
}

/* Navbar */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #000;
  width: 100%;
  padding: 1rem;
}

.nav__links a {
  margin-left: 5px;
  font-size: 1rem;
}

nav a {
  font-weight: 400;
  text-decoration: none;
  padding: 1rem;
  border-radius: 4px;
  color: #fff !important;
  background-color: rgba(168, 200, 211, 0.6);
}

nav a:hover {
  font-weight: 400;
  text-decoration: none;
  padding: 1rem;
  border-radius: 4px;
  color: #fff !important;
  background-color: rgba(168, 200, 211, 0.6);
}

.nav__btn__refresh {
  display: inline-block;
  background-color: rgba(168, 200, 211, 0.6);
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.nav__btn__refresh:hover {
  display: inline-block;
  background-color: rgba(168, 200, 211, 0.6);
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

/* Posts list */

.postList__container {
  padding: 1.5rem;
  border-bottom: 1px solid #000;
  border-radius: 4px;
  text-align: center;
  margin: 1.5rem;
  background-color: rgba(29, 161, 242, 0.1);
}

.postList__list .postList__container + .postList__container {
  margin-top: 1rem;
}

.postList__container h3 {
  margin: 1rem;
}

.postList__view__btn {
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
}

.postList__view__btn:hover {
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #212520;
  border-radius: 4px;
}

/* ReactionButtons styles */

.reaction__btn {
  border: 1px solid #000;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 3rem 0;
  border-radius: 4px;
  white-space: nowrap;
  background: rgb(137, 182, 207);
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.reaction__btn:hover {
  border: 1px solid #000;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 3rem 0;
  border-radius: 4px;
  white-space: nowrap;
  background: rgb(213, 217, 221);
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

/* Edit Post Form styles */

.editPost__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  min-height: 100vh;
  height: 100%;
}

.editPost__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(29, 161, 242, 0.1);
  border-bottom: 1px solid #000;
  border-radius: 4px;
  width: 40rem;
  height: 40rem;
}

.editPost__form > input {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #fff;
  font-size: 1rem;
  color: rgb(19, 17, 17);
  line-height: 2;
}

.editPost__form > textarea {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #fff;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(19, 17, 17);
  min-height: 20rem;
  height: 100%;
  line-height: 2;
}

.editPost__btn {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 30%;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
}

.editPost__btn:hover {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 30%;
  color: #fff;
  background-color: #212520;
  border-radius: 4px;
}

/* SinglePostPage styles */

.singlePost__post {
  margin-top: 2rem;
  border-bottom: 1px solid #000;
  border-radius: 4px;
  background-color: rgba(29, 161, 242, 0.1);
  padding: 6rem;
}

.singlePost__post > h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.singlePost__btn {
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
}

.singlePost__btn:hover {
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #212520;
  border-radius: 4px;
}

/* Notifications list */

.notification {
  border-bottom: 1px solid #000;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.notificationsList .notification + .notification {
  border-top: none;
}

.notification.new {
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 4px;
}

/* Add Post Form */

.addPostForm__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background: rgba(29, 161, 242, 0.1);
  border-bottom: 1px solid #000;
  border-radius: 4px;
}

.addPostForm__form > input {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #fff;
  font-size: 1rem;
  color: rgb(19, 17, 17);
}

.addPostForm__form > textarea {
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #fff;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(19, 17, 17);
}

.addPostForm__form > select {
  padding: 1rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: rgb(19, 17, 17);
  text-align: center;
  align-items: center;
  align-content: center;
  border-radius: 4px;
}

.addPostForm__btn {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 30%;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
}

.addPostForm__btn:hover {
  padding: 0.5rem;
  margin-top: 1rem;
  width: 30%;
  color: #fff;
  background-color: #212520;
  border-radius: 4px;
}

label {
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem;
}

/* User Display*/

li {
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  text-decoration: none;
  list-style-type: none;
  background-color: rgba(29, 161, 242, 0.1);
  border-radius: 4px;
  border-bottom: 1px solid #000;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
}
